# This is a sample .htpasswd file.  A real .htpasswd file is just named .htpasswd

# ALL THESE LINES WITH # ARE CALLED COMMENTS AND THEY WON'T BE RUN
# THE ONLY LINES OF THIS FILE THAT WILL RUN DON'T BEGIN WITH #

# The username is just that written where username is written below
# The password must be encrypted using a generator
# Use this link to find a generator: http://www.htaccesstools.com/htpasswd-generator/
# Once generated just paste it in this file after the colon
username:hashedPassword

# Example
# Username: jsmith
# Password: password123
jsmith:$apr1$At86NCJ7$284vMqjhuIeN4F/sbGoBe1